name: terraform-ci

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - name: Terraform fmt (check)
        run: terraform fmt -check -recursive

  validate:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        module:
          - modules/s3-private-origin-bucket
          - modules/cloudfront-static-site
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - name: Terraform init
        working-directory: ${{ matrix.module }}
        run: terraform init -backend=false
      - name: Terraform validate
        working-directory: ${{ matrix.module }}
        run: terraform validate
